<div class="col-md-10">
	<div class="container-fluid">

		<div class="page-header">
			<h1>Fun Winter Activities</h1>
		</div>

		<% @Activities.each do |activity| %>

			<div class="col-md-4 col-xs-6">
				<div class="thumb">
					<img src="<%= activity.image %>">
				</div>
				<h3><%= bip(activity, :name) %></h3>
				<p><%= bip(activity, :description, :textarea) %></p>
				<a href="<%= activity.url %>"><%= bip(activity, :url) %></a>
				<%= cms_delete(activity) %>
			</div>

		<% end %>

		<%= cms_add("/things_to_do_winters/new", "Add Activity") %>

	</div>
</div>